.heading{
  font-size: 2rem;
  font-family: roxima-nova, sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-left: 8.75rem;
  color: #143943;
  margin-top: 6.25rem;
}

.row{
  display: flex;
  width: 80%;
  height: 7%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  border: 1px solid #707070;
  margin-top: 0.6rem;
  background-color: white;
}

.column{
  flex: 100%;
  max-width: 100%;
  padding: 0.6rem;

}

.tekst{
  p{
    color: #143943;
    display: inline;
    margin-left: 6rem;
    font-size: 1rem;
    font-family: roxima-nova, sans-serif;  
  }
}

.rewrite{ 
  img{
    max-width: auto;
    height: 80%;
    position:relative;
    top: -3.6rem;
    left: -4rem;
    float: right;
  }
}

.delete{ 
  img{
    max-width: auto;
    height: 80%;
    position:relative;
    top: -7.6rem;
    left: -1rem;
    float: right;
  }
}