*,* *,* * *{font-family:Proxima Nova!important;box-sizing:border-box}.flex{display:flex;justify-content:space-between}.aic{align-items:center}body{background-color:#f2f8f8}body #site-main{min-width:580px;max-width:750px;margin-right:150px;color:#143943;margin-left:320px;}body #site-main h1{font-size:3rem;padding-top: 90px;margin-bottom:70px}body #site-main h2{font-size:2rem;margin:25px 0 10px}#site-gender .right{width:300px}#site-gender .gender-wrap label{display:inline-block;width:230px;transition:all .3s;background-color:#4a737d;border:none;color:#fff;text-align:center}#site-gender .gender-wrap label p{color:#fff;font-size:1.7rem;padding-bottom:10px}#site-gender .gender-wrap label img{padding-top:10px;display:inline-block;width:100px}#site-gender .gender-wrap input[type=radio]{display:none}#site-gender .gender-wrap input[type=radio]:checked+label{background-color:#4fb2ad}#site-gender .wrap{display:flex}#site-gender .wrap .status-wrap{width:300px}#site-gender .wrap .status-wrap .status-wrap label{display:inline-block;width:100%;padding:15px;transition:all .3s;background-color:#4a737d;text-align:center;margin-bottom:5px;border:none;color:#fff;font-size:20px}#site-gender .wrap .status-wrap .status-wrap input[type=radio]{display:none}#site-gender .wrap .status-wrap .status-wrap input[type=radio]:checked+label{background-color:#4fb2ad}#site-gender .wrap .nationality-wrap{width:300px}#site-gender .wrap .nationality-wrap .nationality-wrap label{display:inline-block;width:100%;padding:15px;transition:all .3s;background-color:#4a737d;text-align:center;margin-bottom:5px;border:none;color:#fff;font-size:20px}#site-gender .wrap .nationality-wrap .nationality-wrap input[type=radio]{display:none}#site-gender .wrap .nationality-wrap .nationality-wrap input[type=radio]:checked+label{background-color:#4fb2ad}#site-main-month .month-wrap{width:100%}#site-main-month .month-wrap label{display:inline-block;width:225px;padding:20px;transition:all .3s;background-color:#4a737d;text-align:center;margin:5px;border:none;color:#fff;font-size:1.5rem}#site-main-month .month-wrap #month-1{margin-left:0}#site-main-month .month-wrap label:last-child{margin-right:0}#site-main-month .month-wrap input[type=radio]{display:none}#site-main-month .month-wrap input[type=radio]:checked+label{background-color:#4fb2ad}#site-main-education .flex-wrap{display:flex}#site-main-education .flex-wrap #search-education{margin:30px 0 -10px 10px}#site-main-education .flex-wrap h2{margin-bottom:-10px}#site-main-education #duration{width:179px}#site-main-education .wrap{display:flex;margin-top:20px}#site-main-education .wrap #site-education-btn .education-wrap{margin-right:45px}#site-main-education .wrap #site-education-btn .education-wrap label{display:inline-block;padding:10px 30px;transition:all .3s;background-color:#143943;border:none;border-radius:4px;color:#fff;text-align:center;margin-bottom:5px}#site-main-education .wrap #site-education-btn .education-wrap input[type=radio]{display:none}#site-main-education .wrap #site-education-btn .education-wrap input[type=radio]:checked+label{background-color:#4fb2ad}#site-main-education .wrap #site-main-dropdown .dropdown{background-color:white;width:179px;height:40px}#site-main-media h2{margin-top:-10px}#site-main-media .media-wrap label{width:225px;padding:15px 25px;transition:all .3s;background-color:#4a737d;margin:0 5px 5px;text-align:center;border:none;color:#fff;font-size:20px}#site-main-media .media-wrap label:last-child{margin-right:0}#site-main-media .media-wrap #media-1{margin-left:0}#site-main-media .media-wrap label img{display:inline-block;height:35px}#site-main-media .media-wrap label p{width:55%;text-align-last:left;display:inline-block}#site-main-media .media-wrap input[type=radio]{display:none}#site-main-media .media-wrap input[type=radio]:checked+label{background-color:#4fb2ad}h3{margin-top:-60px}#topics label{display:inline-block;padding:15px 30px;transition:all .3s;background-color:#143943;border:none;border-radius:4px;color:#fff;text-align:center;margin-bottom:5px}#topics input[type=checkbox]{display:none}#topics input[type=checkbox]:checked+label{background-color:#4fb2ad}#site-main-next-page{min-width:580px;max-width:750px;margin-top:75px;padding-bottom:25px}#site-main-next-page .flex-wrapper{display:flex;align-items:center}#site-main-next-page a{color:#143943;text-decoration:none}#site-main-next-page #next #arrow-right{height:26px;width:28px;margin-left:10px;background-image:url(../images/forward.png);background-size:95%;background-repeat:no-repeat;background-position:2.5% 2.5%}#site-main-next-page #back #arrow-left{height:26px;width:28px;margin-right:10px;background-image:url(../images/backward.png);background-size:95%;background-repeat:no-repeat;background-position:2.5% 2.5%;}

#form-window-2, #form-window-3{
	display: none;
}

#popup-warning{
	position: absolute;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.5);
}

#popup-warning .content-window{
	background-color: #F2F8F8;
	border-radius: 10px;
	width: 750px;
	padding: 40px 50px;
}

#popup-warning .popup-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

#popup-warning p{
	font-size: 1.5rem;
	margin-bottom: 10px;
}

#popup-warning a{
	padding: 20px 40px;
	border-radius: 10px;
	font-size: 1rem;
	border:none;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	margin-bottom: -10px;
}

#popup-warning .button-wrap{
	float: right;
	display: flex;
	justify-content: space-between;
	width: 420px;
	margin-top: 10px;
}

b {
	font-weight: bold;
}

#popup-warning .warning{
	font-size: 1.2rem;
	margin-top: 25px;
	margin-bottom: 15px;
	width: 70%;
}

#popup-warning #confirm{
	background-color: #E8927C;
}

#popup-warning #decline{
	background-color: #FEF486;
}

.contrast-button {
	background-color: #fef486;
	width: 230px;
	height: 45px;
	border: none;
	border-radius: 4px;
	color: white;
	color: #143943;
	font-size: 16px;
	cursor: pointer;
}