// Colours
$background: #F2F8F8;
$primary: #143943;
$bg-login: #f8fafb;
$cta-yellow: #fef486;
$cta-red: #E8927c;
$cta-blue: #4A737D;
$button:#4A737D;
$button-contrast: #4fb2ad;
$hyperblue: #3366CC;
$notification: #78d8ac;