#site-main-month {
    .month-wrap label {
        display: inline-block;
        width: 148px;
        padding: 15px;
        transition: all 0.3s;
        background-color: $button;
        border: none;
        color: white;
        text-align: center;
        margin-bottom: 5px;
        border: none;
        color: white;
        font-size: 20px;
    }
    .month-wrap input[type="radio"] {
        display: none;
    }
    .month-wrap input[type="radio"]:checked+label {
        background-color: $button-contrast;
    }
}

#site-main-education {
    .flex-wrap {
        display: flex;
        #search-education {
            margin: 30px 0 -10px 10px;
        }
        h2 {
            margin-bottom: -10px;
        }
    }
    .wrap {
        display: flex;
        margin-top: 20px;
        #site-education-btn {
            width: 500px;
            .education-wrap label {
                display: inline-block;
                width: 160px;
                padding: 10px;
                transition: all 0.3s;
                background-color: $primary;
                border: none;
                border-radius: 4px;
                color: white;
                text-align: center;
                margin-bottom: 5px;
            }
            .education-wrap input[type="radio"] {
                display: none;
            }
            .education-wrap input[type="radio"]:checked+label {
                background-color: $button-contrast;
            }
        }
        #site-main-dropdown {
            width: 220px;
            height: 200px;
            .dropdown {
                background-color: pink;
                width: 179px;
                height: 40px;
            }
        }
    }
}

#site-main-media {
    h2 {
        margin-top: -10px;
    }
    .media-wrap label {
        display: inline-block;
        width: 148px;
        padding: 15px;
        transition: all 0.3s;
        background-color: $button;
        border: none;
        color: white;
        text-align: center;
        margin-bottom: 5px;
        border: none;
        color: white;
        font-size: 20px;
    }
    .media-wrap input[type="radio"] {
        display: none;
    }
    .media-wrap input[type="radio"]:checked+label {
        background-color: $button-contrast;
    }
}